<ion-header>
  <ion-navbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <h1>Get Location</h1>
 
  <button ion-button (click)="getGeolocation()">Get Location</button>
  <div *ngIf="geoLatitude">
    <p>Latitude : {{geoLatitude}}</p>
    <p>Longitude : {{geoLongitude}}</p>
    <p>Accuracy : {{geoAccuracy}}</p>
    <p class="address-text">
 
      <span class="watch-text" *ngIf="isWatching; else notWatching">
        Watching Location
      </span>
      <ng-template #notWatching>
        Location Watch Stopped
      </ng-template>
 
      <br>{{geoAddress }}
    </p>
  </div>
</ion-content>